<div class="container">
  <h1>Results</h1>
    <p>You got <%= cookies[:correct] %>/<%= cookies[:max] %> correct!</p>
    <% if @h1 %>
      <% @h1.each do |attempt| %>
        <p><%= attempt.time %></p>
      <% end %>
    <% end %>
    <% @cookieArray = cookies[:list] ? cookies[:list].split(",") : [] %>
    <a href="<%= questions_path + "/" + @cookieArray.pop().to_s %>"><button>RESTART QUIZ!</button></a>
    <% cookies[:list] = (@cookieArray.class == Array) ? @cookieArray.join(',') : '' %>
</div>