<div class="container">
  <h1>Results</h1>
    <p>You got <%= cookies[:correct] %>/<%= cookies[:max] %> correct!</p>
    <% if @h1 %>
      <% @h1.each do |attempt| %>
        <p><%= attempt.time %></p>
      <% end %>
    <% end %>
    <a href="/"><button>RESTART QUIZ!</button></a>
</div>