<h1>Results</h1>
  <p>This time, you answered <%= cookies[:correct] %>/<%= cookies[:max] %> correctly!</p>
  <% if @h1 %>
    <% @h1.each do |attempt| %>
      <p><%= attempt.time %></p>
    <% end %>
  <% end %>
<a href="/"><button class="text-center">RESTART QUIZ!</button></a>
