<h1>Quiz</h1>
<form action="/" method="post" accept-charset="UTF-8">
  <div class="form-group">
    <input type="number" id="maxQuestions" name="maxQuestions" min="1" max="8" required/>
    <label for="MaxQuestions">How many questions will you attempt?</label>
  </div>
  <input name="submit" type="submit">
</form>
<br>