<h1>Quiz</h1>
<% @cookieArray = cookies[:list] ? cookies[:list].split(",") : [] %>
<a href="<%= questions_path + "/" + @cookieArray.pop().to_s %>"><button>START QUIZ!</button></a>
<% cookies[:list] = (@cookieArray.class == Array) ? @cookieArray.join(',') : '' %>

<p>REMEMBER TO INSERT MAX CHANGER</p>
