<div class="container">
  <h1>Quiz</h1>
  <% cookies[:list] ? cookies[:list].split(",") : [] %>
  <% tempArray = Array.new %>
  <% tempArray = cookies[:list] %>
  <button href="<%= tempArray.pop() %>">START QUIZ!</p>
  <% cookies[:list] = (tempArray.class == Array) ? tempArray.join(',') : '' %>
  
  <p>Find me in app/views/home/index.html.erb</p>
</div>
