<p>Attemped 60% mark</p>
<footer class="footer">
  <div class="container">
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <i class="fa fa-facebook-square"></i><a class="nav-link" href="https://www.facebook.com">Facebook</a>
          </li>
          <li class="nav-item active">
            <i class="fa fa-twitter-square"></i><a class="nav-link" a href="https://www.twitter.com">Twitter</a>
          </li>
          <li class="nav-item active">
            <i class="fa fa-linkedin-square"></i><a class="nav-link"a href="https://www.linkedin.com">LinkedIn</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Attemped 60% mark</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>