<p>Attemped 60% mark</p>
<footer class="footer">
  <div class="container">
    <a href="https://www.facebook.com"><i class="fa fa-facebook-square"></i></a>
    <a href="https://www.twitter.com"><i class="fa fa-twitter-square"></i></a>
    <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square"></i></a>
  </div>
</footer>