<p>I AM FOOT</p>
<footer class="footer">
  <div class="container">
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-linkedin-square"></i>
  </div>
</footer>