<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">Evan Mason. S3688949@student.rmit.edu</a>
  </li>
</ul>

<p>COOKIE ID:</p>
<p>QUESTIONS COMPLETE:</p>
<p>CORRECT:</p>
<p>QUESTION MAX:</p>
<p>RANDOM QUESTION LIST:</p>

